<template>
  <div class="" style="">
    <header class="header max-h-full overflow-hidden">
      <img
        data-speed=".75"
        class="img parallax-bg h-screen w-full"
        src="https://images.unsplash.com/photo-1566480047210-b10eaa1f8095?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt=""
      />
      <h1 class="h1 text-white font-bold text-5xl mb-8">
        About us and everyone else too
      </h1>
    </header>

    <h2 class="text text-xl font-bold mt-20 mb-4"></h2>
    <NuxtLink to="/"> Back home </NuxtLink>

    <div class="contents my-8">
      <div class="contents--item">
        <div class="content-image">
          <img
            class=""
            src="https://images.unsplash.com/photo-1548422392-679e1fc2eba4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2410&q=80"
          />
        </div>
        <p class="content-textbox">
          Do you see any Teletubbies in here? Do you see a slender plastic tag
          clipped to my shirt with my name printed on it? Do you see a little
          Asian child with a blank expression on his face sitting outside on a
          mechanical helicopter that shakes when you put quarters in it?
        </p>
      </div>
      <div class="contents--item">
        <div class="content-image">
          <img
            class=""
            src="https://images.unsplash.com/photo-1571169205612-9eae9d2027ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          />
        </div>
        <p class="content-textbox">
          Look, just because I don't be givin' no man a foot massage don't make
          it right for Marsellus to throw Antwone into a glass motherfuckin'
          house, fuckin' up the way the nigger talks. Motherfucker do that shit
          to me, he better paralyze my ass, 'cause I'll kill the motherfucker,
          know what I'm sayin'?
        </p>
      </div>
      <div class="contents--item">
        <div class="content-image">
          <img
            class=""
            src="https://images.unsplash.com/photo-1572852066354-b5bd0191261b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          />
        </div>
        <p class="content-textbox">
          Normally, both your asses would be dead as fucking fried chicken, but
          you happen to pull this shit while I'm in a transitional period so I
          don't wanna kill you, I wanna help you. But I can't give you this
          case, it don't belong to me. Besides, I've already been through too
          much shit this morning over this case to hand it over to your dumb
          ass.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h1>WOAH!</h1>
        <p>Cool 3D Stuff bro!</p>
      </div>
    </div>

    <div class="text-white">
      <div class="content-box mt-20 bg-red-300 py-96 text-center">
        Content here
      </div>
   
      <div class="start-stagger grid grid-cols-3 gap-8 text-center mt-32">
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
        <div
          class="
            staggers
            w-32
            h-32
            flex
            items-center
            align-center
            text-center
            bg-indigo-400
            m-6
          "
        >
          Stagger in
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped >
.staggers {
  opacity: 0.2;
  transform: scale(0.75);
  transition: all 0.25 eae;
}
.staggers:hover {
  transform: translate3d(10px, 20px, 15px);
}
.header {
  position: relative;
}
.img {
  filter: brightness(0.5);
  top: -10%;
}
h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contents {
  &--item {
    margin: 4rem 0;
    position: relative;
    &:nth-child(even) {
      .content-image {
        img {
          margin-left: auto;
        }
      }
      .content-textbox {
        left: 15%;
      }
    }
    &:nth-child(odd) {
      .content-textbox {
        right: 15%;
      }
    }
  }
}

.content-textbox {
  position: absolute;
  top: 50%;
  max-width: 60%;
  background: rgba(7, 80, 100, 0.5);

  transform: translate(0, -50%);
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.content-image {
  img {
    aspect-ratio: 16 / 8;
    object-fit: cover;
    max-width: 60%;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.card {
  width: 400px;
  height: 200px;
  position: relative;
  background: #00bcd4;
  border-radius: 3px;
  background-position: top center;
  transform-style: preserve-3d;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    left: 0;
    bottom: 0px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
  }
}

.card-content {
  transform-style: preserve-3d;
  text-align: center;

  h1 {
    color: #fff;
    transform: translateZ(100px);
  }
  p {
    color: #fff;
    transform: translateZ(50px);
  }
}

.content-box {
  opacity: 0;
}

</style>

<script>
export default {
  mounted() {
    this.animateOnScroll();
  },

  methods: {
    animateOnScroll() {
      // this.$gsap.to(".text", {
      //   duration: 2,
      //   repeat: 3,
      //   repeatDelay: 1,
      //   yoyo: true,
      //   text: {
      //     value: "This is the new very very loooong text",
      //     delimiter: " ",
      //   },
      //   ease: "ease",
      // });

      //splitText

      //backgroundeffect

  
      this.$gsap.from(".content-box", {
        scaleY: 0,
        opacity: 0
      });
      this.$gsap.set(".content-box", {
        scaleY: 0,
        opacity: 0
      });
      this.$gsap.to(".content-box", {
        opacity: 1,
        scaleY: 1,
        duration: .25,
        origin: "top",  
        scrollTrigger: {
          trigger: ".content-box",
          start: "top +=200px",
          markers: true,
          scrub: false,
          //delay: 2,
        },
      });

      //3d effect
      let card = document.querySelector(".card");

      card.addEventListener("mousemove", function (e) {
        let xAxis = (window.innerWidth / 2 - e.pageX) / 120;
        let yAxis = (window.innerHeight / 2 - e.pageY) / 70;
        card.style.transform = `rotateY(${xAxis}deg) rotateX(${yAxis}deg)`;
      });

      //stagger
      this.$ScrollTrigger.batch(".staggers", {
        onEnter: (batch) => {
          batch.forEach((card, index) => {
            this.$gsap.to(card, {
              opacity: 1,
              y: -100,
              scale: 1,
              stagger: 0.1,
              delay: index * 0.2,
            });
          });
        },
        once: true,
      });

      this.$gsap.to(".img", {
        ease: "none",
        scale: 1.3,
        duration: .25 ,
        scrollTrigger: {
          trigger: ".img",
          start: "bottom bottom",
          scrub: true,
        },
      });

      //parallax
      this.$gsap.to(".h1", {
        yPercent: -100,
        ease: "none",
        scrollTrigger: {
          trigger: ".h1",
          // start: "top bottom", // the default values
          // end: "bottom top",
          scrub: true,
        },
      });

      this.$gsap.to(".staggers", {
        yPercent: 10,
        ease: "none",
        scrollTrigger: {
          trigger: ".staggers",
          // start: "top bottom", // the default values
          // end: "bottom top",
          scrub: true,
        },
      });

      const paraImages = document.querySelectorAll(".content-image");

      paraImages.forEach((element) => {
        this.$gsap.to(element, {
          yPercent: 10,
      
          ease: "none",
          scrollTrigger: {
            trigger: element,
            // start: "top bottom", // the default values
            // end: "bottom top",
            scrub: true,
          },
        });
      });

      const paraText = document.querySelectorAll(".content-textbox");

      paraText.forEach((element) => {
        this.$gsap.to(element, {
          yPercent: -90,
          ease: "none",
          scrollTrigger: {
            trigger: element,
            // start: "top bottom", // the default values
            // end: "bottom top",
            scrub: true,
          },
        });
      });
    },
  },
};
</script>